#users{
   border: 2px solid black;
   width: 100%;
}

.profile_block{
    margin-left: 15px; 
    border: 1px solid red;
    width: 230px;
    height: 170px;
    display: inline-block;
}

.profile_block img{
    margin-left: 20%; 
    border-radius: 100%;
    width: 55%;
    float: top;
}

.profile_name{
    margin-left: 25%;
}
.cargo{
    margin-left: 40%;
}

